<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <!-- Used to show data from the API in a table -->
        <h2>Table</h2>
        <div class="container">
            <table class="table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Template</th>
                    </tr>
                </thead>
                <tr v-for="data in template">
                    <td>{{template}}</td>
                </tr>
            </table>
        </div>
          <!-- Used to show data from the API in a table -->
        <h2>Add data</h2>
        <input v-model="addData.template1" placeholder="template1" type="number" />
        <input v-model.number="addData.template2" placeholder="template2" type="number" />
        <input v-model.number="addData.template3" placeholder="template3" type="number" />
        <button v-on:click="addTemplateData()" class="btn btn-success">Add</button>
        <div>{{addMessage}}</div>
    </div>
    <script src="index.js"></script>
</body>

</html>